#cssmenu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% Ubuntu, sans-serif;
	font-size:14px;
	font-weight:bold;
	}
#cssmenu ul{
	background:#0F0F0F;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
	}
#cssmenu li{
	float:left;
	padding:0px;
	}
#cssmenu li a{
	background:#0F0F0F;
	color:#CCC;
	display:block;
	font-weight:normal;
	line-height:35px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
	}
#cssmenu li a:hover, #cssmenu ul li:hover a{
	background: #B91F1F;
	color:#FFF;
	text-decoration:none;
	-webkit-transition: .3s all ease;
	   -moz-transition: .3s all ease;
	     -o-transition: .3s all ease;
	        transition: .3s all ease;
	}
#cssmenu li ul{
	background:#0F0F0F;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:225px;
	z-index:200;
	/*top:1em;
	/*left:0;*/
	}
#cssmenu li:hover ul{
	display:block;
	
	}
#cssmenu li li {
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:225px;
	}
#cssmenu li:hover li a{
	background:none;
	
	}
#cssmenu li ul a{
	display:block;
	height:35px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
	}
#cssmenu li ul a:hover, #cssmenu li ul li:hover a{
	background:#B91F1F;
	border:0px;
	color:#FFF;
	text-decoration:none;
	-webkit-transition: .3s all ease;
	   -moz-transition: .3s all ease;
	     -o-transition: .3s all ease;
	        transition: .3s all ease;
	}
#cssmenu p{
	clear:left;
	}	