html{
	background-color: black;
	color: white;
	font-family: Ubuntu;
}

#main{
	margin: 2% 10% 0 10%;
	border: 1px solid #FFF;
}

#main p, #main ul, #main h2, #main h3, #main h4, #main h5, #main h6{
	margin-left: 2%;
	margin-right: 2%;
}

#main h2{
	border-bottom: 1px solid #AAA;
}

.wikibox{
	margin-top: 2%;
	width: 42.5%;
	float: left;
	border: 1px solid #FFF;
}

.wikibox p, .wikibox ul, .wikibox h2, .wikibox h3, .wikibox h4, .wikibox, h5, .wikibox h6{
	margin-left: 2%;
	margin-right: 2%;
}

.wikibox h2{
	border-bottom: 1px solid #AAA;
}

h1{
	text-align: center;
}

#footer{
	display: block;
	background-color: #333;
}

a:link, a:visited{
	color: #59F;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

code{
	font-family: 'Ubuntu mono';
	background-color: #2D2D2D;
	display: block;
	border: 1px dashed #FFF;
	padding: 5px;
	margin-left: 2%;
	margin-right: 2%;
}

.inline-code{
	font-family: 'Ubuntu mono';
}

.header{
	margin-top: -22px;
	margin-left: 2%;
	margin-right: 2%;
}

table{
	width: 96%;
	margin: auto;
}

table th{
	background-color: #FC6;
	color: #000;
	padding: 5px;
}

table td{
	background-color: #CCC;
	color: #000;
	padding: 5px;
}

.spanblue{
	background-color: #0BF;
	color: #000;
	text-align: center;
}

.planned{
	color: #0A0
}

p:first-letter{
	padding-left: 3%;
}

#wiki-toc{
	display: inline-block;
	margin-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #444;
	border: 1px solid #AAA;
}

.fancy {
	display: block;
	margin: auto;
}

.fancy a{
	text-decoration: none;
}

.level-1{
	padding-left: 1em;
}

.level-2{
	padding-left: 3em;
}

#info-page-content{
	float: left;
	width: 50%;
	margin-left: 10%;
	margin-top: 2%;
	padding: 1% 2%;
	border: 1px solid #FFF;
}

#info-page-content h2{
	border-bottom: 1px solid #AAA;
}

#info-page-sidebar{
	position: fixed;
	float: right;
	width: 20%;
	margin-right: 10%;
	margin-top: 2%;
	padding: 1% 2%;
	border: 1px solid #FFF;
}
#info-page-sidebar h2{
	border-bottom: 1px solid #AAA;
}

#info-page-sidebar p:first-letter{
	padding-left: 0;
}

#info-page-toc{
	display: block;
	list-style-type: none;
}