html{
	background-color: black;
	color: white;
	font-family: Ubuntu, sans-serif;
}

#main{
	margin: 2% 10% 0 10%;
	border: 1px solid #FFF;
	-webkit-border-radius: 1em;
}

#main p, #main ul, #main h2, #main h3, #main h4, #main h5, #main h6{
	margin-left: 2%;
	margin-right: 2%;
}

#main h2{
	border-bottom: 1px solid #AAA;
}

.wikibox{
	margin-top: 2%;
	width: 42.5%;
	float: left;
	border: 1px solid #FFF;
	-webkit-border-radius: 1em;
}

.wikibox p, .wikibox ul, .wikibox h2, .wikibox h3, .wikibox h4, .wikibox, h5, .wikibox h6{
	margin-left: 2%;
	margin-right: 2%;
}

.wikibox h2{
	border-bottom: 1px solid #AAA;
}

h1{
	text-align: center;
}

#footer{
	display: block;
	background-color: #333;
}

a:link, a:visited{
	color: #59F;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

code{
	font-family: 'Ubuntu mono';
	background-color: #2D2D2D;
	display: block;
	border: 1px dashed #FFF;
	-webkit-border-radius: 0.5em;
	padding: 5px;
	margin-left: 2%;
	margin-right: 2%;
}

.inline-code{
	font-family: 'Ubuntu mono';
}

.header{
	margin-top: -22px;
	margin-left: 2%;
	margin-right: 2%;
}

table{
	width: 96%;
	margin: auto;
}

table th{
	background-color: #FC6;
	color: #000;
	padding: 5px;
	-webkit-border-radius: 0.5em;
}

table td{
	background-color: #CCC;
	color: #000;
	padding: 5px;
	-webkit-border-radius: 0.5em;
}

.spanblue{
	background-color: #0BF;
	color: #000;
	text-align: center;
}

.planned{
	color: #0A0
}

p:first-letter{
	padding-left: 3%;
}

#wiki-toc{
	display: inline-block;
	margin-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #444;
	border: 1px solid #AAA;
	-webkit-border-radius: 1em;
}

.fixed{
	position: fixed;
	top: 2%;
}

.fancy {
	display: block;
	margin: auto;
}

.fancy a{
	text-decoration: none;
}

.level-1{
	padding-left: 1em;
}

.level-2{
	padding-left: 3em;
}

.stick{
	position: fixed;
	top: 1%;
	right: 5%;
}

.unstick{
	margin-right: 5%;
}

#info-page-content{
	float: left;
	width: 55%;
	margin-left: 10%;
}

#info-page-sidebar{
	width: 25%;
	float: left;
	margin-left: 5%;
}

.box{
	margin-top: 1%;
}

.box .content{
	padding-left: 3%;
	padding-right: 3%;
	border: 1px solid #AAA;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;;
}

.box .content p{
	padding-left: 2%;
	padding-right: 2%;
}

.box .top{
	text-align: center;
	background: #797979;
	color: #111;
	border: 1px solid #AAA;
	border-bottom: none;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
}

.box .top h2{
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

#info-page-sidebar p:first-letter{
	padding-left: 0;
}

#info-page-sidebar p{
	padding-left: 5%;
	padding-right: 5%;
}