html{
	background-color: black;
	color: white;
	font-family: Ubuntu;
}

#main{
	margin: 2% 10% 0 10%;
	border: 1px white solid;
}

#main p, #main ul, #main h2{
	margin-left: 2%;
	margin-right: 2%;
}

h1{
	text-align: center;
}

#footer{
	display: block;
	background-color: #333;
}

a:link, a:visited{
	color: #59F;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

code{
	background-color: #2D2D2D;
	display: block;
	border: 1px dashed white;
}

table{
	width: 96%;
	margin: auto;
	border: 1px solid white;
}

table th{
	background-color: orange;
}

table td{
	background-color: blue;
}